*{
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: #F3F5FC;
    width: 100%;
    
}

.logo{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    color: #6583A7;
}


/*Input de ingreso de texto*/

.texto{
    border: none;
    width: 80%;
    margin-left: 15px;
    background-color: #F3F5FC;
    margin-bottom: 10px;

}

.texto::placeholder{
    color: #6583A7;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;

}

.texto:focus{
    outline: none;
    padding: 5px;
}

/*Aviso de advertencia*/
.advertencia{
    display: flex;
    font-size:0.9em;
    margin-left: 15px;
    color: #6583A7;
    
}


.advertencia::before{
    content: url(./imagen/bi_exclamation-circle-fill.png);
   margin-right: 4px;
}




/*bloque final*/
.seccion_encriptados{
    margin:20px auto;
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;

    

}

/*Botones*/
.encriptar,
.desencriptar{
    padding: 10px;
    border-radius:15px;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    
}

.encriptar{
    margin-top: 20px;
    background-color: #6583A7;
    color: #fff;
    
}

.desencriptar{
    background: none;
    border: 2px solid #6583A7;
    color: #6583A7;

}


#respuesta{
    padding: 15px;
    width:50%;
    height: auto;
    margin: auto;
    border: none;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    text-align: center;
}


#respuesta::placeholder{
    color: #6583A7;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;

}

#respuesta:focus{
    outline: none;
    padding: 5px;
}




